// Non-modular or client styles for .l-footer region.
.l-footer {
  border: none;
  border-top: 4px solid $color1;
  background-color: $color2;
  color: $color3;
  margin-top: 110px;
  margin-bottom: 0;

  .l-footer--imagelayer {
    position: relative;
    height: 90px;

    span {
      position: relative;
      top: -111px;
      background-image: url('../images/motorhomes.png');
      background-size: 100% auto;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: block;
      height: 178px;
      max-width: 371px;
      @include media-query(mobile) {
        margin: 0 auto;
      }
    }
  }

  .l-footer--copyright {
    .footer--facebook-link {
      a {
        display: block;
        color: $color3;
        font-size: em-calc(34px);

        &:hover {
          color: #fff;
        }

        p {
          width:0px;
        }
      }
    }
  }

  p {
    text-rendering: auto;
    font-size: em-calc(14px);
    margin-bottom: 0;
    @include media-query(mobile) {
      margin-bottom: em-calc(10px);
    }
  }

  ul {
    font-size: em-calc(14px);
    list-style: none;
    color: $color4;

    li {
      display: inline;
      padding: 0 3px 0 0;

      a {
        color: $color4;

        &:hover {
          text-decoration: underline;
          color: $color3;
        }
      }
    }
  }
}

.l-footer-columns {}
