// Non-modular or client styles for .l-header region.
.l-header {
  background-color: $color2;

  .row {
    background-image: url('../images/header_triangle.png');
    background-position: 0 10px;
    background-size: 72% 100%;
    background-repeat: no-repeat;
    padding: 10px 0 50px;
    @include media-query(mobile) {
      padding: 0;
    }
    @include media-query(tablet) {
      padding: 0 0 15px;
    }

    .l-header--logo {
      padding-top: 60px;
      @include media-query(tablet) {
        padding-top: 20px;
        width: 40%;
      }
      @include media-query(mobile) {
        float: none;
        margin: 0 auto;
        max-width: em-calc(280px);
        padding: 35px 0 10px;
      }

      a {
        padding: 0;
        display: block;

        .logo {
          width: 100%;
          max-width: 370px;
        }
      }
    }

    .l-header--telephone {
      padding-top: em-calc(48px);
      padding-bottom: em-calc(33px);
      color: $color1;
      @include media-query(tablet) {
        width: 50%;
        float: right;
      }
      @include media-query(mobile) {
        padding-top: em-calc(10px);
        padding-bottom: em-calc(10px);
      }

      a {
        color: $color1;

        &:hover {
          //color: $color1-hover;
        }
      }

      .l-header--telephone--wapper {
        max-width: em-calc(393px);
        margin: 0;
        float: right;
        @include media-query(mobile) {
          margin: 0 auto;
          float: none;
        }

        .l-header--telephone--main {
          padding: 0 20px 0 0;
          float: left;
          @include media-query(tablet) {
            padding: 0;
            float: right;
          }
          @include media-query(mobile) {
            padding: 0;
            float: none;
          }

          p {
            text-rendering: auto;
            line-height: 100%;
            letter-spacing: -3px;
            display: inline;
            font-size: em-calc(40px);
            @include media-query(mobile) {
              text-align: center;
              display: block;
              margin-bottom: 0;
            }
          }
        }

        .l-header--telephone--personal {
          padding: em-calc(3px) 0;
          float: right;
          @include media-query(tablet) {
            clear: both;
          }
          @include media-query(mobile) {
            padding: em-calc(16px) 0;
            clear: both;
            width: 100%;
            text-align: center;
          }

          p {
            text-rendering: auto;
            font-weight: 400;
            font-size: em-calc(14px);
            margin: 0 0 5px;
            line-height: 100%;
            @include media-query(tablet) {
              display: inline;
              padding: 0 0 0 5px;
            }
            @include media-query(mobile) {
              display: inline;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}

// Top Bar
//--------------------------------------------------
.top-bar {
  .title-area {}
}

.top-bar-section {}
.top-bar-section .left {}
.top-bar-section .right {}
