.homepage--logos {

  ul {
    @extend %ul-cleanup;

    li {
      @media only screen and (max-width: em-calc(400px)) {
        width:33.33%;
      }

      & + [class*="column"]:last-child {
        float:left;
      }
    }
  }
}
