// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }
html {
  background-color: #111111;
}

body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: -180px -10px;
    background-color: #000000;
  }
