/* Extenders */
%ul-cleanup {
  list-style: none;
  list-style-image: none;

  li {
    padding-bottom: 20px;
  }
}

%greyscale {
  -webkit-transition: all .3s ease;  /* Transition for Webkit browsers */
  transition: all .6s ease;  /* Transition for Webkit browsers */

  &:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
  }
}
