// @file
// Place your mixins here. Feel free to roll your own mixins. Or nuke what is
// currently here.

//
// Mixin: Base Utility
//
@mixin stage {
  position: absolute;
  left: -999em;
}

@mixin unstage {
  position: static;
  left: auto;
}

// Inline media queries
// Example
// @include media-query(tablet-and-desktop) {}
@mixin media-query($breakpoint) {

  @if $breakpoint == mobile {
   @media only screen and (max-width: em-calc($small-screen - 1)) { @content; }
  }

  @else if $breakpoint == mobile-tablet {
   @media only screen and (max-width: em-calc($medium-screen - 1)) { @content; }
  }

  @else if $breakpoint == tablet {
   @media only screen and (min-width: em-calc($small-screen)) and (max-width: em-calc($medium-screen - 1)) { @content; }
  }

  @else if $breakpoint == tablet-and-desktop {
   @media only screen and (min-width: em-calc($small-screen)) { @content; }
  }

  @else if $breakpoint == desktop {
   @media only screen and (min-width: em-calc($medium-screen)) { @content; }
  }

  @else if $breakpoint == widescreen {
   @media only screen and (min-width: em-calc($large-screen)) { @content; }
  }
}


// CSS3 Shadows
// Example
// @include shadow(0px, -9px, 18px, -8px, #333033);
@mixin shadow($t, $r, $b, $l, $color) {
  -webkit-box-shadow: inset $t $r $b $l $color;
  -moz-box-shadow: inset $t $r $b $l $color;
  box-shadow: inset $t $r $b $l $color;
}
