/* Homepage carousel BxSlider */
.homepage--carousel {
  margin-top: em-calc(15px);
  margin-bottom: em-calc(15px);
  @include media-query(tablet-and-desktop) {
    margin-top: em-calc(45px);
    margin-bottom: em-calc(60px);
  }

  .homepage--carousel--simple {
    min-height: 415px; // Max height of carousel
  }
}

