.top-bar {
  float: right;
  height: 50px;
  @include media-query(mobile) {
    height: 58px;
    width: 100%;
  }
  @include media-query(tablet) {
    clear: both;
  }

  // Mobile menu on active
  &.expanded .toggle-topbar.menu-icon a {
    background-color: #0A0A0A;
  }

  .toggle-topbar.menu-icon {
    position: relative;
    margin-top: 0px;
    padding: 0;
    right: 0;
    left: 0;
    top: 0;
    width:100%;
    text-align: center;

    a {
      text-indent:0;
      width: 100%;
      padding: 17px 0;
      font-weight: 700;
      line-height: 150%;
      background-color: #0F0F0F;
      height: auto;

      span {
        position: relative;
        top: 3px;
        left: -1px;
        @include shadow(0, 0, 0, 0, #000000);
        height: 16px;
        display: inline;
        line-height: 100%;
        font-size: em-calc(21px);
      }
    }
  }

  .top-bar-section {
    float: right;
    @include media-query(mobile) {
      width: 100%;
      float: none;
    }

    #main-menu {
      background: transparent;
      @include media-query(mobile) {
        background: $color5;
      }

      li {
        margin: 0 0 0 1px;
        @include media-query(mobile) {
          margin: 0;
        }

        a {
          font-weight: 300;
          font-size: 1em;
          padding: 0 20px;
          letter-spacing: 2px;
          line-height: 43px;
          border:3px solid transparent;
          @include single-transition(all, 0.55s, ease-out);
          @include radius(25px);
          @include media-query(mobile) {
            @include single-transition(all, 0, ease-out);
            @include radius(0px);
            border: none;
            border-bottom: 2px solid #353535;
            font-weight: 700;
            font-size: 1em;
            padding: 0 20px;
            letter-spacing: 1px;
            line-height: 43px;
          }

          &.active,
          &:not(.button):hover {
            @include box-sizing(border-box);
            border:3px solid $color1;
          }

          &:not(.button):hover {
            @include media-query(mobile) {
              border: none;
              border-bottom: 2px solid #353535;
            }
          }

          &.active,
          &:not(.button).active:hover {
            @include media-query(mobile) {
              border: none;
              border-bottom: 2px solid #353535;
              background-color: $color1;
              color: #333333;
              @include shadow(0px, -9px, 40px, -8px, #B39400);
            }
          }
        }
      }
    }
  }

  #secondary-menu {
    background-color: #191919;
  }
}
