/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling ("look-and-feel") for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Base
// Import the theme colors
@import "theme/colors";
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
//
// Extenders
@import "base/extenders";
//
// Common file is where you place common utility classes to extend or
// parametrics. Optional file.
@import "base/common";
//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";
//
// Styling for elements.
@import "base/elements";
//
// Icomoon.
@import "base/elements";

// Layout
//
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";

@import "layout/homepage--logos";


// Components
// @import "components/buttons";
// @import "components/type";
// @import "components/forms";
// @import "components/foundation-icons";


/*
 * Custom Components
 */
// BxSlider
@import "components/bxslider";
@import "components/main-menu";
@import "components/homepage--carousel";




// Themes
// @import "theme/button-light";

// IE8 Grid Support
//@import "ie";




@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?r1o9vi');
  src:url('../fonts/icomoon/icomoon.eot?#iefixr1o9vi') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?r1o9vi') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?r1o9vi') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?r1o9vi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-facebook-square:before {
  content: "\e600";
}
